.container1 {
    float:left;
    width:100%;
    min-height: 500px;
    background-color: #fff;
    position:relative;
    right:50%;
}
.container2 {
    float:left;
    width:100%;
    min-height: 500px;
    background-color: #eee;
    position: relative;
}
#col1 {
    padding-top: 30px;
    float:left;
    width:50%;
    position:relative;
    left:52%;
    overflow:hidden;
    line-height: 150%;
}
#col2 {
    padding-top: 30px;
    float:left;
    width:48%;
    position:relative;
    left:52%;
    overflow:hidden;
    line-height: 150%;
}
#titles {
	float:left;
	width: 100%;
	height: auto;
}
.article {
	float:left;
	width: 92%;
	background-color: #121212;
	padding: 1% 4%;
	font-size: 24px;
	color: white;
}
.col_titles {
	float: left;
	width: 100%;
	height: auto;
	background-color: #121212;
	border-top: 1px solid #444;
	color: white;
}
.col_1 {
	float: left;
	width: 46%;
	padding: 1% 2%;
	text-align: center;
	font-size: 16px;
	border-right: 1px solid #444;
}
.col_2 {
	float: left;
	width: 43%;
	padding: 1% 2%;
	text-align: center;
	font-size: 16px;
}