html, body
{
    height: 100%;
    min-height: 100%;
}

body {
	margin: 0;
	font-family: Arial;
	font-size: 14px;
	background:url(../images/body_imgs.png) no-repeat top center;
}
a {
	text-decoration: none;
	color: #FCFCFC;
	transition : color 0.2s ease-in 0s;
}

a:hover {
	text-decoration: none;
	color:#75C5CF;
}
.main_wrap {
	width: 100%;
	height: 100%;
}
header {background-color: #606262; background:url(../images/header_imgs.png) no-repeat top center;   border-bottom:15px solid #132c34;position:relative;}

ul.nav li {display: inline-block; margin-left:5px;}

.headerbar {
	float: left;
	width: 100%;
	/*background-color: #606262;*/
}
.logo {
	font-size: 22px;
	margin-top: 15px;
	margin-left:50px;
	width: 23%;
}

footer{position:relative;bottom:18px;width: 100%;background-color: #000000;border-top: 1px solid #ccc;}

.footerbar {
	
	
	height: 60px;
	
	color: #c1c1c1;
	font-size: 14px;
	padding: 0px 0 0 0;
	

}
.para {padding:10px;}
.article {
	float:left;
	width: 92%;
	background-color: #132c34;
	padding: 1% 4%;
	font-size: 24px;
	color: white;
}
.logging {
	float: right;	
	padding-top:20px;
	margin-left:275px;
	color: #fff;
}
.menu_m {
	
	position : relative;
	padding-top: 0px !important;
	color: white;
	margin-left: 221px;
}
/*.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/

/* BUTTONS FOR TOP MENU */

.menubtn {
	background-color:#132c34;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:49px;
	line-height:49px;
	width:104px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #807805;
}
.menubtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26220a), color-stop(1, #736665) );
	background:-moz-linear-gradient( center top, #26220a 5%, #736665 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26220a', endColorstr='#736665');
	background-color:#26220a;
}
.menubtn:active {
	position:relative;
	top:1px;
}

footer ul.align {
	list-style-type:none; 
	float: right; 
	
}
.footer-link {display: block; list-style: none;text-align: right}
.footer-link li{display: inline; }
.footer-link li a{padding:5px 10px;}
footer ul.align li {
	float:left; 
	margin-left:30px;
}




