	.tblheader{ 
		float: left;
		/*border: 1px solid;background-color: #ECFF6E; padding-top: 10px;*/
		height: 30px;		
		text-align: center;		
		font-size: 13px;
		font-weight: normal;
		background: #b9c9fe;
		/*border-top: 4px solid #101214;*/
		border-bottom: 1px solid #fff;
		color: #039;
		padding-top: 8px;
		background: linear-gradient(to bottom, #F3F3F3 0px, #E8E8E8 50%, #E0E0E0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 1px 0 #FFFFFF inset;
	}
	table th{
		background: #0489b5; /* Old browsers */
						background: -moz-linear-gradient(top, #0489b5 8%, #06bffc 99%, #06bffc 99%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#0489b5), color-stop(99%,#06bffc), color-stop(99%,#06bffc)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, #0489b5 8%,#06bffc 99%,#06bffc 99%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, #0489b5 8%,#06bffc 99%,#06bffc 99%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top, #0489b5 8%,#06bffc 99%,#06bffc 99%); /* IE10+ */
						background: linear-gradient(to bottom, #0489b5 8%,#06bffc 99%,#06bffc 99%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0489b5', endColorstr='#06bffc',GradientType=0 ); /* IE6-9 */
						color:#fff;
		 /*background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
	}
	.search{
		text-align: center;
	}		
	 .archived td:first-child{
		background-color: #EBEBEB;
        border-bottom: 1px solid #E0E0E0;
	}
	
	.headercol1
	{ width: 20%;border-right: none;
	}
	.headercol2
	{		
		width: 10%;
	}
	.headercol3
	{		
		width: 12%;color: black; border-right: none;border-left: none;
	}
	.headercol4
	{ width: 12%;
	}
	.headercol5
	{
		border-right: none;border-left: none;width: 12%;
	}
	.headercol6
	{
		width: 12%;
	}
	.headercol7
	{
		border-left: none;width: 10%;
	}
	.headfont
	{
		font-size: 14px;font-weight: bold;color: black;
	}
	.rowclol
	{
		float: left;
		/*border: 1px solid;*/
		padding-bottom: 2px;
		height: 24px;		
		background: #ffffff;
		border-bottom: 1px solid #E4E4E4;
		color: #669;
		border-top: 1px solid transparent;
		/*padding: 8px; */
	}
	.rowclo1
	{		
		width: 20%;border-right: none; background-color:#EBEBEB;/*background-color: #6DEBFF;*/
	}
	.rowclo2
	{
		width: 10%;
	}
	.rowclo3
	{
		width: 12%;border-right: none;border-left: none;
	}
	.rowclo4
	{
		width: 12%;padding-bottom: 2px;
	}
	.rowclo5
	{
		width: 12%;border-right: none;border-left: none;
	}
	.rowclo6
	{
		width: 12%;
	}
	.rowclo7
	{
		width: 10%;border-left: none;
	}
	.rowclo8
	{
		width: 10%;border-left: none;
	}
	.pagiDiv
	{
		float: left;margin-bottom: 10px;
		width: 100%;
		/*margin-left: 10%;*/
	}
	.pagiDiv1
	{
		float: left;margin-bottom: 10px;
		width: 100%;
	}
      /* css for address field on readyforcust_comm.php page */	
	/*.newaddr
	{
		float: left;
		width: 12%;
		margin-left: 10%;
		margin-bottom: 10px;
	}	*/
    .button_example{
 border:1px solid #616261; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 3px 3px 3px 3px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 cursor: pointer;
 background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.button_example:hover{
 border:1px solid #4a4b4a;
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}
.mainDiv
{
	padding: 25px; float: left; min-height: 300px;
}
.welcomeusersty
{
	background-color: white;
	color: black;
	margin-right: 15px;
	font-size: 17px;
	font-style:italic;
	margin-top: 12px;
	float: left;
	font-weight: bold;
}
@media and (max-width: 1024px){
	.pagiDiv1
	{
		float: left;margin-left: 17px;margin-bottom: 1%;margin-top: 5%;
	}
	 
	 }
/* Welcome User msg seen at 480 px */
@media (max-width: 480px)  
{
	.welcomeusersty
    {
		background-color: white;
		color: black;
		margin-right: 15px;
		font-size: 14px;
		font-style:italic;
		margin-top: 1px;
		margin-left: 102px;
		float: left;
		font-weight: bold;
   }
}
/* Welcome User msg seen at 384 px */
@media (max-width: 384px)  
{
	.welcomeusersty
    {
		background-color: white;
		color: black;
		margin-right: 15px;
		font-size: 12px;
		font-style:italic;
		margin-top: 1px;
		margin-left: 81px;
		float: left;
		font-weight: bold;
   }
}

/* Welcome User msg seen at 320 px */
@media (max-width: 320px)  
{
	.welcomeusersty
    {
		background-color: white;
		color: black;
		margin-right: 15px;
		font-size: 12px;
		font-style:italic;
		margin-top: 1px;
		margin-left: 18px;
		float: left;
		font-weight: bold;
   }
}
/* Welcome User msg seen at 240 px */
@media (max-width: 240px)  
{
	.welcomeusersty
    {
		background-color: white;
		color: black;
		margin-right: 15px;
		font-size: 12px;
		font-style:italic;
		margin-top: 1px;
		margin-left: 1px;
		float: left;
		font-weight: bold;
   }
}
